# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
*.log

# Packaging
*.jar
*.war
*.ear

scripts/

backend/target
backend/src/main/resources/

frontend/target
frontend/dist
frontend/src/dist
frontend/node_modules
frontend/src/node_modules
frontend/node
