html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, em, img, b, u, i, dl, dt, dd, ol, ul, li,
form, label, table, tbody, tfoot, thead, tr, th, td,
article, aside, embed, footer, header, menu, nav,
section {margin: 0; padding: 0; border: 0;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}

h2 {
    font-size: 2.5em;
    font-weight: normal;
    padding: 0.5em;
}